.a-tweet {
	margin-bottom: 20px;
	.user {
		position: absolute;
		left:25px;
		width:50px;
	}
	p.tweet {
		margin-left: 50px;
	}
	.user span {
		display:none;
	}
	.user>a>span>span {
		display: none;
	}
	img.emoji {
		display: none;
	}
}
p.interact {
	a {
		background:url("twitter-sprite.png");
		display: inline-block;
		height: 16px;
		width: 17px;
		text-indent: -9999px !important;
		color:#00f;
	}
	
	a.twitter_reply_icon,
	a.twitter_retweet_icon,
	a.twitter_fav_icon {
		width:33.3%;
		margin: 0 5px 0 0;
	}
	
	a.twitter_fav_icon {
		background-position-x: -31px;
		width:18px;
		&:hover {
			background-position-x: -47px;
		}
	}
	
	a.twitter_retweet_icon {
		background-position-x: -80px;
		width:19px;
		&:hover {
			background-position-x: -99px;
		}
	}
	
	a.twitter_reply_icon {
		background-position-x: 0px;
		width:16px;
		&:hover {
			background-position-x: -16px;
		}
	}
}
.tweet-media {
	display: block;
	.img-responsive {
		max-width: 100% !important;
		border: 5px solid #ccc;
		&:hover {
			border-color:rgba(0, 0, 0, 0.3);
		}
	}
	
}
p.timePosted {
	clear:both;
	text-align: right;
	display: block;
}



